@charset "UTF-8";
@font-face {
  font-family: "my_font";
  src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF, U+2E80-2EFF, U+0020-007F;
}
@font-face {
  font-family: "my_font";
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "my_font";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "my_font";
  outline: none;
}

html {
  font-family: "my_font";
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background-color: #19218a;
}
html body {
  min-width: 980px;
  height: auto;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 937px;
  overflow: hidden;
}
html body main .light {
  width: 100%;
  height: 937px;
  background: url(../image/light.png) no-repeat;
  background-size: 100%;
  position: absolute;
}
html body main article {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
html body main article section {
  width: 30%;
  height: 100%;
  float: left;
}
html body main article section.left {
  position: relative;
  z-index: -998;
}
html body main article section.left .baseball-man {
  width: 567px;
  height: 861px;
  background: url(../image/baseball-man.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: -90px;
  top: 90px;
  -webkit-animation: leftslide 1s ease;
          animation: leftslide 1s ease;
}
@-webkit-keyframes leftslide {
  from {
    left: -300px;
  }
  to {
    left: 10px;
  }
}
@keyframes leftslide {
  from {
    left: -300px;
  }
  to {
    left: 10px;
  }
}
html body main article section.between {
  position: relative;
}
html body main article section.between .logo {
  width: 363px;
  height: 191px;
  background: url(../image/logo.png) no-repeat;
  background-size: 100%;
  margin: 78px 0px 0 64px;
}
html body main article section.between .inputBox {
  position: absolute;
  width: 502px;
  height: 278px;
  border-radius: 20px;
  margin: 5px 0px 0px -10px;
  background: url(../image/box.png) no-repeat;
}
html body main article section.between .inputBox .box1 {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0 0 40px;
}
html body main article section.between .inputBox .box1 .input-box {
  width: 58%;
  margin-top: 25px;
}
html body main article section.between .inputBox .box1 .input-box input {
  width: 240px;
  height: 40px;
  border-radius: 3px;
  margin: 12px 0px 4px 21px;
  background: none;
  border: none;
  font-size: 20px;
  padding-left: 15px;
}
html body main article section.between .inputBox .box1 .input-box input::-webkit-input-placeholder {
  color: #ffffff;
}
html body main article section.between .inputBox .box1 .input-box input::-moz-placeholder {
  color: #ffffff;
}
html body main article section.between .inputBox .box1 .input-box input:-ms-input-placeholder {
  color: #ffffff;
}
html body main article section.between .inputBox .box1 .input-box input::-ms-input-placeholder {
  color: #ffffff;
}
html body main article section.between .inputBox .box1 .input-box input::placeholder {
  color: #ffffff;
}
html body main article section.between .inputBox .box1 .button-box {
  width: 30%;
  margin: 16px 0 0 -10px;
}
html body main article section.between .inputBox .box1 .button-box button {
  width: 154px;
  height: 129px;
  background: url("../image/btn.png") no-repeat;
  line-height: 115px;
  background-size: 100%;
  font-size: 32px;
  font-weight: bold;
  color: #411904;
  text-align: center;
  margin-top: 7px;
  padding-right: 11px;
}
html body main article section.between .inputBox .box1 .button-box button:hover, html body main article section.between .inputBox .box1 .button-box button:active, html body main article section.between .inputBox .box1 .button-box button.active {
  background-position-y: calc(100% + -14px);
}
html body main article section.between .inputBox .smalllogo_Box {
  width: 211px;
  height: 85px;
  margin: 23px 0px 0 141px;
}
html body main article section.between .inputBox .smalllogo_Box .smalllogo {
  width: 211px;
  height: 85px;
  background: url(../image/小logo.png) no-repeat;
  background-size: 100%;
  background-position: center;
  margin: auto;
}
html body main article section.right {
  position: relative;
  z-index: -998;
}
html body main article section.right .soccer-man {
  width: 351px;
  height: 814px;
  background: url(../image/soccer-man.png) no-repeat;
  background-size: 100%;
  position: absolute;
  right: -135px;
  top: 140px;
  -webkit-animation: rightslide 0.6s ease;
          animation: rightslide 0.6s ease;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes rightslide {
  from {
    right: -300px;
  }
  to {
    right: 10px;
  }
}
@keyframes rightslide {
  from {
    right: -300px;
  }
  to {
    right: 10px;
  }
}
html .bg {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 980px;
  min-height: 1000px;
  height: 100%;
  background: url("../image/bg.png") no-repeat top center;
  z-index: -999;
}